.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

.header {
  background-color: lightseagreen;
  color: white;
  text-align: center;
  padding: 5px;
  height: 45px;
}

.chat-history {
  text-align: left;
  font-size: 20px;
  padding: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.chat-input {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.name-input {
  width: 30%;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

.timestamp {
  float: right;
  color: grey;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

.logo {
  float: left;
  padding: 5px;
}

.logo-title {
  font-size: 30px;
  float: left;
  font-weight: 600;
  padding: 5px;
}

body {
  background: #f8f8ff;
}

.chat-history-title {
}
